@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana-Bold.eot');
    src: url('../font/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Verdana-Bold.woff2') format('woff2'),
        url('../font/Verdana-Bold.woff') format('woff'),
        url('../font/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana';
    src: url('../font/Verdana.eot');
    src: url('../font/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../font/Verdana.woff2') format('woff2'),
        url('../font/Verdana.woff') format('woff'),
        url('../font/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.background {
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Verdana', sans-serif;
}
.container {
    width: 1044px;
    margin: 0 auto;
    padding-top: 49px;
}
.header {
    margin-bottom: 48px;
}
.logo {
    float: left;
}
.header-link:hover,
.menu-link:hover {
    color: rgb(242, 101, 34);
}
.header-link .fas {
    float: left;
    width: 51px;
    font-size: 49px;
}

.header-name {
    float: left;
    font-size: 29px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-left: 15px;
}
.header-name-span {    
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;    
}
.header-info {
    float: right;
    width: min-content;
    text-align: right;
    line-height: 24px;
}
.header a {
    text-decoration:none;
    color: #ffffff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.grid {
    display: grid;
    grid-template-columns: 308px 308px 308px;
    align-content: center;
    grid-column-gap: 60px;
    grid-row-gap: 58px;
    justify-items: center;
}
.menu-item {
    text-align: center;    
}
.card {
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, black, white);
    border-image-slice: 1;
    box-shadow: 1px 6px 16px 1px rgba(0,0,0,0.75);
    height: 200px;
}
.menu-link {
    color:  #ffffff;
    font-size: 18px;
    padding-top: 22px;
    text-decoration: none;
    line-height: 35px;
}
.menu-item {
    position: relative;
}
.tour-detailes {
    width: 311px;
    height: 63px;
    background: rgb(242, 101, 34);
    position: absolute;
    bottom: 40px;
    display: none;
    padding: 16px 21px;
    box-sizing: border-box;
    
}
.tour-detailes-item1 {
    float: left;
    color:  #ffffff;
    font-size: 10px;
    display: block; 
}
.tour-detailes-item2 {
    float: left;
    color:  #ffffff;
    font-size: 20px;
    display: block;
}
.tour-detailes-item3 {
    float: right;
    color:  #ffffff;
    font-size: 14px;
}
.tour-detailes-item3::after {
    content: ">";
    padding-left: 20px;
}
.menu-item-link:hover .tour-detailes {
    display: block;
}
.copyright {
    color:  #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 25px;
}